.about-mian-div {
  height: calc(100vh - 20px);
  width: 100%;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 10px;
}

.about-profile-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  /* border-bottom: 2px solid #2e323a; */
  /* background: #181525; */
  background: url(../../../assets/HeroPage.svg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 50% 50%;
  border-radius: 12px;
}
.about-profile-image {
  width: 80px;
  height: 80px;
  background-color: #3f444d;
  border-radius: 50%;
  margin-bottom: 10px;
  margin-top: 30px;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  background-image: url(../../../assets/propic.png);
  background-size: cover;
}

.active-circle {
  width: 15px;
  height: 15px;
  background-color: #3fef45;
  border-radius: 50%;
  position: absolute;
  bottom: 10px;
  right: 10%;
  transform: translateX(50%);
}

.about-profile-image {
}

.about-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}

.about-container p:nth-child(1) {
  font-size: 22px;
  margin: 0;
  padding: 0;
}

.about-container p:nth-child(2) {
  font-size: 16px;
  margin: 0;
  margin-bottom: 10px;
}

.resume-download {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  gap: 10px;
  cursor: pointer;
}

.resume-flex-div {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  box-sizing: border-box;
  padding: 5px 10px;
  margin-bottom: 20px;
  background: radial-gradient(
      83.26% 148.71% at 83.26% 142.62%,
      rgba(255, 255, 255, 0.00116801) 79.1%,
      rgba(255, 255, 255, 0.1) 100%
    )
    rgba(0, 0, 0, 0.35);
  border-radius: 8px;
  border: 2px solid;

  border-image-source: conic-gradient(
    from 202.62deg at 50% 50%,
    rgba(255, 255, 255, 0.2) -0.14deg,
    #ffffff 44.61deg,
    #ffffff 153.81deg,
    rgba(255, 255, 255, 0.2) 180deg,
    #ffffff 252deg,
    rgba(255, 255, 255, 0.2) 359.86deg,
    #ffffff 404.61deg
  );
}

.resume-flex-div p {
  margin: 0;
  font-size: 10px;
  color: rgba(255, 255, 255, 1);
}

.main-skills-section {
  height: 100%;
  overflow-y: scroll;
  border-radius: 12px;
  background: #181525;
}

.skills-title {
  margin: 0;
  text-align: center;
  margin-top: 5px;
}
.skills-list {
  padding: 10px;
}

.skill-category {
  /* background-color: #2e323a; */
  border-radius: 8px;
  padding: 4px 8px;
  margin-bottom: 5px;
  /* border-bottom: 1px solid #3f6bef; */
  border: 1px solid #8B5CF64D
}

.skill-category p {
  margin: 0;
  margin-bottom: 8px;
  font-size: 10px;
  color: #838383;
}

.skill-sets {
  display: flex;
  gap: 3px;
  flex-wrap: wrap;
  /* justify-content: center; */
  align-items: center;
  margin-bottom: 10px;
}

.skill-sets p {
  margin: 0;
  font-size: 10px;
  /* background-color: #1c1e22; */
  background: #8B5CF633;
  padding: 2px 8px;
  border-radius: 4px;
  /* font-weight: 500; */
  color: white;
}

.social-main-div {
  width: 100%;
  /* height: 80px; */
  padding: 10px 0;
  /* background-color: aliceblue; */
  /* border-top: 1px solid #3f444d; */
  display: flex;
  align-items: center;
  justify-content: space-around;
  background: #181525;
  border-radius: 12px;
  text-decoration: none;
}

.social-main-div a {
  text-decoration: none;
}

/* ********************* */
/* right bar */
/* ********************* */

.right-bar-main-section {
  height: calc(100vh - 20px);
  width: 100%;
  /* background: #181525; */
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.right-bar-head {
  padding: 20% 10%;
  border-bottom: 5px solid #2e323a;
  background: #181525;
  border-radius: 12px;
}

.right-bar-head img {
  width: 100%;
}

.nav-icons {
  display: flex;
  flex-direction: column;
  gap: 10px;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.nav-icons p {
  writing-mode: vertical-rl;
  text-orientation: sideways;
  margin: 0;
  padding: 5px;
  cursor: pointer;
}

link {
  text-decoration: none;
}

.right-body-main {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  height: 100%;
  background: #181525;
  border-radius: 12px;
}

.gif {
  cursor: pointer;
  width: 100%;
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.gif img {
  width: 70%;
  cursor: pointer;
}

.nav-icons a.active-tab p {
  border-left: 1px solid #783fef;
}
/* ********************* */
/*  dashboard */
/* ********************* */

.dashboard-main-div {
  height: calc(100vh - 20px);
  width: 100%;
  background: #181525;
  border-radius: 12px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.dash-header-section {
  width: 96%;
  margin-left: 2%;
  margin-top: 30px;
  height: 50vh;
  background: linear-gradient(
      to bottom,
      rgba(0, 0, 0, 0.238),
      rgba(0, 0, 0, 0.831)
    ),
    url(../../../assets/DashWallpaper.png);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: 0% 35%;
  border-radius: 12px;
  display: grid;
  grid-template-columns: 70% 30%;
}

.dash-header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 10px 20px;
}

.dash-header-section h1 {
  font-size: 44px;
}

.dash-header-section p {
  font-size: 14px;
}

.dash-header-section button {
  width: 200px;
  padding: 10px 15px;
  border-radius: 8px;
  background-color: #2e323a;
  border: none;
  outline: none;
  margin-top: 30px;
}

.intro-main-div {
  width: 96%;
  margin-left: 2%;
  height: calc(100vh - 65vh);
  background-color: #2e323a;
  border-radius: 12px;
  position: relative;
}

.intro-main-div::after {
  content: "ABOUT";
  position: absolute;
  right: 40%;
  bottom: 40%;
  transform: translate(50%, 50%);
  font-size: 200px;
  opacity: 0.05;
  -webkit-text-stroke: 1px white;
  font-weight: bold;
}

.intro-heading {
  padding: 20px 20px;
}

.intro-heading p {
  margin: 0;
}

.intro-heading p:nth-child(1) {
  font-size: 22px;
}
.intro-heading p:nth-child(2) {
  font-size: 16px;
  font-style: italic;
}

.intro-content {
  padding: 20px;
}

.intro-content p {
  margin: 0;
  font-size: 18px;
  text-wrap: stable;
}

/* ***************** */
/* resume popup */
/* ***************** */
/* ResumePopup.css */

.resume-popup-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.584);
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.resume-popup {
  background: #181525;
  border-radius: 8px;
  width: 80%;
  max-width: 500px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.pdf-viewer-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.resume-close-button {
  background-color: transparent;
  border: none;
  padding: 10px;
  text-align: end;
  cursor: pointer;
  width: 100%;
}
