/* src/components/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.313); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #22252db3;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  font-size: 12px;
  height: 60vh;
  overflow-y: auto;
  margin-top: 20px;
}

.modal-close {
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}

.modal-content button{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}


