/* src/components/Modal.css */
.modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  /* background: rgba(0, 0, 0, 0.313); */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.modal-content {
  background: #22252d;
  padding: 10px;
  border-radius: 8px;
  max-width: 500px;
  width: 80%;
  font-size: 12px;
  height: 60vh;
  overflow-y: auto;
  margin-top: 20px;
}

.modal-close {
  position: absolute;
  top: 30px;
  right: 35px;
  background: transparent;
  border: none;
  font-size: 1.5em;
  cursor: pointer;
}


